@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: "Source Sans Pro", sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #e4e4e4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
